@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Inter", serif;
}

header{
    display: flex;
    width: 100%;
    padding: 20px 150px;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 35px;
    list-style: none;
    color: hsla(185, 11%, 21%, 1);
    font-size: 14px;
}

.header_sign{
    display: flex;
}

.in , .up{
    padding: 10px 20px;
    background-color: transparent;
    border: none;
}

.in{
    color: hsla(0, 0%, 29%, 1);
    font-weight: 400;
    font-size: 16px;
}

.up{
    color: hsla(214, 100%, 24%, 1);
    border: 1px solid hsla(214, 100%, 24%, 1);
    font-weight: 600;
    font-size: 16px;
}

.lines{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
}

.lines div{

    width: 100%;
    height: 66px;
    background-color: #303231;
    color: white;
}
.mustang-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.mustang-container img{
    position: absolute;
    right: -600px;
    top: 50%;
    transform: translateY(-52.1%);
}
.hero-text{
    position: absolute;
    z-index: 111;
    top: 50%;
    transform: translateY(-68%);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 50px;
    left: 10%;
}

.hero-text h1{
    color: #134382;
    font-size: 72px;
    font-weight: 300;
    line-height: 68px;
    font-family: "Roboto", serif;
    text-transform: uppercase;
}
.hero-text h1 span{
    color: #fbaa0c;
    font-weight: 700;
}
.hero-text p{
    font-family: "Roboto", serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
    color: #fff;
}
.hero-text p span{
    font-size: 30px;
}
.hero-text div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text div button{
    border: none;
    background-color: #003478;
    padding: 15px 20px;
    color: #fff;
}
#different{
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
}
.different-img{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #003478;
}