*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#one{
    position: absolute;
    top: 50%;
    display: none;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 5px;
    z-index: 9999;
    height: 30px;
    animation: loading 1s linear;
}         
@keyframes loading {
    from{
        width: 0px;
    }
    to{
        width: 80%;
    }
}
#two{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}