*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.allheader{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbar{
    display: flex;
    gap: 20px;
}

.logo{
    display: flex;
}

.navbar button{
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 5.7px;
}