@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body{
    height: 500vh;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    display: flex;
    padding: 11.14px 100.23px 11.14px 100.23px;
    align-items: center;
    justify-content: center;
}
.all-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 14.14px;
    font-weight: 500;
    color: #4D4D4D;
    padding: 20px;
}
.nav-bar{
    display: flex;
    align-items: center;
    gap: 22.27px;
}
.nav-bar button{
    background-color: #4CAF4F;
    cursor: pointer;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 5.57px;
    font-size: 11.14px;
    font-weight: 500;
    border-radius: 2.78px;
    padding: 9.74px 22.27px 9.74px 22.77px;
}
.burger{
    display: none;
}

.hero{
    position: relative;
    padding: 66.82px 100.23px 66.82px 100.23px;
    width: 100%;
    gap: 72.39px;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    gap: 11.14px;
}
.hero-text h1{
    font-size: 44.55px;
    font-weight: 600;
    color: #4D4D4D;
    line-height: 52.9px;
}
.hero-text span{
    color: #4CAF4F;
}
.hero-text p{
    font-size: 11.14px;
    font-weight: 400;
    color: #717171;
    line-height: 16.71px;
}
.hero-text button{
    padding: 9.74px 22.27px 9.74px 22.27px;
    border-radius: 2.78px;
    background-color: #4CAF4F;
    border: none;
    color: white;
    font-size: 11.14px;
    font-weight: 500;
    line-height: 16.71px;
    margin-top: 10px;
    cursor: pointer;
}
.ball{
    display: flex;
    gap: 5.57px;
    position: absolute;
    bottom: 10px;
    right: 50%;
}
.ball div{
    border-radius: 50%;
    width: 6.96px;
    height: 6.96px;
    background-color: #4CAF4F;
}


main{
    display: flex;
    flex-direction: column;
    gap: 27.84px;
}
.clients{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 20px 100.23px;
}
.client-text h2{
    color: #4D4D4D;
    font-size: 25px;
    font-weight: 600;
}
.client-text p{
    color: #717171;
    font-size: 11.14px;
}
.clients-grid-container{
    width: 95%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(100px,2fr));
}
.clients-grid-container img{
    width: 40px;
}


.comunity{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 11px;

}
.comunity-header{
    width: 377px;
}
.comunity-header h1{
    color: #4D4D4D;
    font-size: 25.06px;
}
.comunity-header p{
    color: #717171;
    font-size: 11.14px;
}
.comunity-grid-container{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
}


.comunity-cards{
    width: 208px;
    height: 182px;
    border-radius: 5.57px;
    padding: 16.71px 22.27px;
    box-shadow: 0px 1.39px 2.78px #ABBED133;
}
.comunity-cards h1{
    color: #4D4D4D;
    font-size: 19.49px;
}
.comunity-cards p{
    color: #717171;
    font-size: 9.74px;
}


.pixelgrade{
    align-self: center;
    width: 90%;
    justify-content: center;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
}
.pixelgrade img{
    width: 317px;
    height: 311px;
}
.pixelgrade-text{
    width: 418px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: start;
}
.pixelgrade-text h1{
    color: #4D4D4D;
    font-size: 25.06px;
}
.pixelgrade-text p{
    color: #717171;
    font-size: 11px;
}
.pixelgrade-text button{
    background-color: #4CAF4F;
    padding: 9.74px 22.27px;
    border: none;
    border-radius: 2.78px;
    color: white;
    font-size: 11.14px;
}

.extra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.extra div{
    display: flex;
    flex-direction: row;
}
.extra1 div{
    display: flex;
    flex-direction: column;
}
.extra2 div{
    display: flex;
    flex-direction: column;
}
.extra3 div{
    display: flex;
    flex-direction: column;
}
.extra4 div{
    display: flex;
    flex-direction: column;
}

.extra h2{
    font-size: 19px;
    color: hsla(0, 0%, 30%, 1);
}
.extra p{
    font-size: 11px;
    color: hsla(0, 0%, 44%, 1);
    display: grid;
}
.helping{
    display: flex;
    flex-direction: row;
    background-color: hsla(210, 31%, 97%, 1);
    gap: 300px;
    padding: 44.55px 100.23px 44.55px 100.23px;
}
.help{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.help h1{
    font-size: 30px;
    line-height: 30px;
    color: hsla(0, 0%, 30%, 1);
}
.help b{
    color: hsla(122, 39%, 49%, 1);
}
.help p{
    color: hsla(231, 13%, 11%, 1);
    font-size: 14px;
    line-height: 16px;
}

.designtext button{
    background-color: hsla(122, 39%, 49%, 1);
    color: white;
    padding: 9.74px 22.27px 9.74px 22.27px;
    gap: 6.96px;
    border-radius: 2.78px;
    border: none;
    margin: 20px;
}
.designtext h1{
    font-size: 25px;
    color: hsla(0, 0%, 30%, 1);
    line-height: 30.63px;
    margin: 20px;

}
.designtext p{
    font: 9.74px;
    line-height: 13.92px;
    color: hsla(0, 0%, 44%, 1);
    margin: 20px;
    width: 460.1019287109375px;
}
.design{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.designtext{
    padding: 30px;
}

.customers{
    background-color: #F5F7FA;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 24px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(335.5px,1fr));
}
.customers-container{
    width: 100%;
    justify-self: start;
    max-width: 80%;
    display: flex;
    gap: 23px;
    flex-direction: column;
}
.customers-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.customers-yap{
    color: #717171;
    font-size: 11.14px;
    line-height: 16.71px;
}
.customers-text div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.customers-text div p{
    color: #4CAF4F;
    font-weight: 600;
    font-size: 13.92px;
}
.customers-text div span{
    color: #89939E;
    font-size: 11.14px;
}
.customers-logo-container{
    display: flex;
    max-width: 90%;
    width: 90%;
    gap: 23px;
}
.customers-logo-container p{
    font-size: 13.92px;
    color: #4CAF4F;
    font-weight: 600;
    cursor: pointer;
}
.customers-logo-container div{
    width: 100%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.caring{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.caring-text{
    max-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.caring-text h1{
    color: #4D4D4D;
    font-size: 25.06px;
    line-height: 30.63px;
}
.caring-text p{
    color: #717171;
    font-size: 11.14px;
    line-height: 16.71px;
}
.caring-grid{
    display: grid;
    width: 60%;
    height: auto;
    justify-content:center ;
    grid-template-columns: repeat(auto-fit,minmax(200px,200px));
    grid-auto-rows: 300px;
    gap: 30px;
}
.caring-card{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.img{
    width: 100%;
}
.caring-card div{
    width: 80%;
    height: 140px;
    border-radius: 5.57px;
    padding: 11.14px;
    position: absolute;
    top: 43%;
    z-index: 2;
    background-color: #F5F7FA;
    box-shadow: 0px 5.5px 11px #ABBED166;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first-text{
    color: #717171;
    font-size: 13.92px;
    line-height: 19.49px;
}
.second-text{
    color: #4CAF4F;
    font-size: 13.92px;
    font-weight: 600;
    line-height: 19.49px;
    cursor: pointer;
}



.ending{
    position: relative;
    width: 100%;
    background-color: #F5F7FA;
    padding: 22.27px 22.27px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 23px;
}
.ending h1{
    color: #263238;
    width: 30%;
    font-size: 44.55px;
    text-align: center;
    line-height: 52.9px;
}

.but{
    background-color: hsla(122, 39%, 49%, 1);
    padding: 9.74px 22.27px 9.74px 22.27px;
    border: none;
    color: white;
    border-radius: 2.78px;
}


footer{
    width: 100%;
    height: auto;
    background-color: #263238;
    padding: 44.55px 114.85px;
    display: grid;
    grid-auto-rows: 140px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
footer h1{
    color: white;
    font-size: 13.92px;
    font-weight: 600;
}
footer p,ul{
    list-style: none;
    color: #F5F7FA;
    font-size: 9.74px;
}
#div #all{
    display: flex;
    gap: 10px;
}
.s{
    color: white;
    background-color: #3c474c;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.div ul li{
    cursor: pointer;
}
.div ul{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
#div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
form {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: #515b60;
    border-radius: 10px;
    padding: 10px 15px;
}
form input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding-right: 35px;
}
form input::placeholder {
    color: #F5F7FA;
    font-size: 1cqw;
}
form button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
form button i{
    position: absolute;
    right: 5px;
}

@media (max-width:1000px){
    .extra div{
        flex-direction: column;
        width: 20%;
    }
    .bluetext{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:950px){
    .design img{
        width: 300px;
        justify-content: center;
        align-items: center;
    }
    .designtext p{
        font-size: 10px;
    }
    .designtext h1{
        font-size: 23px;
    }
    .designtext button{
        padding: 7.74px 20.27px 7.74px 20.27px;
    }
    .blue{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:890px){
    .design{
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:750px) {
    nav ul li{
        display: none;
    }
    .burger{
        display: block;
    }
     .hero-text h1{
        font-size: 21px;
        line-height: 25px;
    } 
    .hero img{
        width: 200px;
        height: 200px;
    }
    .helping{
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
}
@media (max-width:600px){
    .hero{
        display: flex;
        flex-direction: column;
    }
    .designtext p{
        width: 430.1019287109375px;
    }
    .design img{
        width: 300px;
        justify-content: center;
        align-items: center;
    }
    .blue p{
        font-size: 10px;
    }
}

@media (max-width:500px){
    .designtext p{
        width: 350.1019287109375px;
    }
}
@media (max-width:395px){
    .extra{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .designtext p{
        width: 240.1019287109375px;
    }
    .all-header button{
        display: none;
    }

}

