
#one {
    width: 70%;
    height:558px;
    background-color: black ;
    font-size: 100px;
}

#two {
    width:50%;
    height:200px;
    background-color: blue;

}
p {
    font-size: 50%;
    color:white 
}

#three {
    width:400px;
    height:200px;
    background-color: red;
}
