@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}
header{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: rgb(33, 33, 52);
}
header img{
    width: 100px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 50px;
}
.all-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
    justify-items: center;
    align-items: center;
    min-width: 350px;
}   
.watch-img{
    background-image: url(../classwork/pink.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 500px;
}
.hour{
    font-size: 1.8rem;
}
.option-cont{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: left;
    align-items: start;
    height: 100%;
}
.option-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option-text h2{
    font-size: 2rem;
}
.option-text p{
    opacity: 70%;
    font-size: 0.8rem;
}
.option-colors{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.option-colors h2{
    opacity: 80%;
}
.colors{
    display: flex;
    gap: 15px;
}
.colors div{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.option-features{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option-features h3{
    opacity: 80%;
}
.option-features div{
    display: flex;
    gap: 15px;
}
.option-features div button{
    padding: 7px 12px;
    background-color: #edebeb;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
.option-features div button:hover{
    background-color: #dcdcdc;
}
.buy{
    background-color: #ffa500;
    border: none;
    cursor: pointer;
    padding: 12px 22px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
.buy:hover{
    background-color: #ff8c00;
}