@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.all{
    background-color: hsl(216, 50%, 16%);
    width: 52vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px hsl(216, 61%, 9%);
    height: 80vh;
}

.pic{
    display: flex;
    justify-content: center;
}

.pic1{
    width: 289px;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

h1{
    font-size: 20px;
    color: white;
    position: relative;
    left: 20px;
    top: 30px;
    font-weight: 500;
}

h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

h3{
    color: hsl(215, 51%, 70%);
    opacity: 50%;
    font-size: 17px;
    position: relative;
    left: 20px;
    top: 42px;
    font-weight: 400;
}

h4{
    color: hsl(178, 100%, 50%);
    font-size: 14px;
    position: relative;
    top: 40px;
    left: 40px;
}
.one{
    position: relative;
    left: 20px;
    top: 60px;
}

.two{
    position: relative;
    top: 20px;
    left: 227px;
}

h5{
    color: hsl(215, 51%, 70%);
    opacity: 50%;
    position: relative;
    left: 250px;
}

.text{
    color: hsl(215, 51%, 70%);
    opacity: 50%;
    position: relative;
    left: 70px;
    bottom: 17px;
}

.text2{
    color: white;
    position: relative;
    left: 156px;
    bottom: 37px;
}

.text2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.pic2{
    border-radius: 50%;
    width: 35px;
    border: 1px solid white;
    position: relative;
    top: 15px;
    left: 20px;
}

.line{
    color: hsl(215, 51%, 70%);
    opacity: 15%;
    position: relative;
    left: 22px;
}