@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jacques+Francois+Shadow&family=Just+Another+Hand&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/europebg.png);
    background-size:cover;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #237FC0;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

header div{
    display: flex;
    width: 300px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.heading{
    font-family: "Just Another Hand";
    font-size: 40px;
    position: relative;
    transform: translateX(-50%);
}

header h1{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    color: white;
}

.text1{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    color: white;
    font-size: 45px;
}

.text2{
    font-size: 20px;
    color: white;
}

.intro{
    background-color: #80a3cc07;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #003F6C;
    box-shadow: 1px 1px 10px rgb(138, 138, 138);
}

.s p{
    color: white;
    font-size: 35px;
    font-family: "Jacques Francois Shadow", serif;
    padding: 25px;
}

.country-container{
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.s{
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.2s;
}

main a:hover{
    transform: scale(1.1);
}

.italy{
    background-image: url(../img/italy.png);
}

.france{
    background-image: url(../img/france.png);
}
.spain{
    background-image: url(../img/spain.png);
}

footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: end;
    color: white;
    padding: 30px;
}

a{
    text-decoration: none;
}

@media (max-width:800px){
    .one h1{
        display: none;
    }
    .one{
        width: auto;
    }
    .heading{
        transform: translateX(-0%);
    }
    header{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}