@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jacques+Francois+Shadow&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jacques+Francois+Shadow&family=Just+Another+Hand&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainpic{
    background-image: url(../img/Rectangle\ 1.png);
    height: 300px;
    width: 100%;
    background-position: center;
}

body{
    height: auto;
    background-color: #181A1B;
}

header{
    background-color: #BE3144;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

header div{
    display: flex;
    width: 300px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.heading{
    font-family: "Just Another Hand";
}

.motto{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 100;
    color: white;
    width: 40%;
}

header img{
    border-radius: 50%;
}

header h1{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    color: white;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

footer h1{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
}

.lag{
    font-family: "Italianno", serif;
    font-weight: 400;
    font-size: 60px;
}

.continents{
    background-color: #181A1B;
    display: flex;
    flex-wrap:wrap;
    width: 90%;
    justify-content: space-evenly;
    padding: 20px;
    gap: 50px;
    padding-bottom: 30px;
}

.continents p{
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-size: 30px;
}

.ratty{
    padding: 20px;
    padding-bottom: 30px;
}


.europe{
    background-image: url(../img/europe.png);
    width: 210px;
    height: 305px;
    background-repeat: no-repeat;
    color: #00F2FF;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    transition: 0.2s;
    
}
.europe:hover{
    transform: scale(1.1);
}
.asia{
    background-image: url(../img/asia.png);
    width: 210px;
    height: 305px;
    background-repeat: no-repeat;
    color: #FFEE00;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    transition: 0.2s;
}
.asia:hover{
    transform: scale(1.1);
}
.america{
    background-image: url(../img/america.png);
    width: 210px;
    height: 305px;
    background-repeat: no-repeat;
    color: #4DFF00;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    transition: 0.2s;
}
.america:hover{
    transform: scale(1.1);
}

.ratcunt{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
}
.logos1 i{
    padding: 13px;
}
.logos2{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.mainpic{
    padding: 50px;
}
.logo3{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}
@media (max-width:500px){
    .continents{
        width: 100%;
        justify-content: center;

    }
    .ratty{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ratcunt{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .super-rat{
        display: none;
        width:auto;
    }
    header div{
        width: auto;
    }
    header div h1{
        display:none;
    }
    .motto{
        font-size: 17px;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}