@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color:hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Karla", serif;
}

#join{
    background-color:hsl(0, 0%, 100%) ;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 240px;
    width: 700px;
}

.join{
    color: hsl(179, 62%, 43%);
}

.join2{
    color: hsl(71, 73%, 54%);
    font-size: 18px;
}
.join3{
    color: rgb(173, 173, 173);
}
.text1{
    position: relative;
    left: 40px;
    top: 40px;
    font-size: 19px;
}

.partdown{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    color: white;
}

#dollar{
    background-color: hsl(179, 62%, 43%);
    height: 270px;
    border-bottom-left-radius: 6px;
}
.dollar1{
    font-size: 15px;
    position: relative;
    left: 40px;
    top: 25px;
}
.dollar{
    font-size: 30px;
    position: relative;
    left: 40px;
    top: 17px;
}
.dollar2{
    color: hsl(178, 33%, 70%);
    position: relative;
    left: 100px;
    bottom: 35px;
}
.dollar3{
    position: relative;
    left: 40px;
    bottom: 30px;
}
.dollar4{
    background-color:hsl(71, 73%, 54%) ;
    color: white;
    border: none;
    padding: 15px 90px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(90, 90, 90, 0.644);
    position: relative;
    left: 40px;
}
#why{
    background-color: hsl(179, 45%, 53%);
    height: 270px;
    border-bottom-right-radius: 5px;
}
.text2{
    position: relative;
    left: 45px;
    top: 15px;
}
.why2{
    color: hsl(180, 41%, 79%);
}
