@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:hsl(225, 100%, 94%) ;
    background-image: url(./extra/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Red Hat Display", serif;
}

.all{
    background-color: white ;
    width: 60vh;
    height: 87vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blue{
    width: 60vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    position: relative;
    top: 35px;
}

.p{
    color: hsl(224, 23%, 55%);
    text-align: center;
    position: relative;
    top: 50px;
}

.music{
    width: 35px;
}

.plan{
    font-weight: 900;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
    position: relative;
    left: 10px;
}

.price{
    font-weight: 700;
    font-size: 14px;
    color: hsl(0, 1%, 59%);
    position: relative;
    top: 23px;
    right: 75px;
}

.change{
    font-size: 14px;
    font-weight: 800;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    position: relative;
    top: 10px;
}

.part{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: row;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    top: 70px;
}

.end{
    position: relative;
    top: 90px;
}

button{
    background-color:hsl(245, 75%, 52%); 
    border: none;
    padding: 10px 90px;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 5px 10px hsl(245, 28%, 74%);
}

.cancel{
    font-weight: 600;
    color: hsl(245, 75%, 52%);
    font-size: 14px;
    position: relative;
    top: 20px;
    left: 123px;
}