body {
    background-color: black;
}
h1 {
    color: greenyellow;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: greenyellow;
    font-size: 40px;
    text-align: center;
}
h3 {
    color: greenyellow;
    font-size: 40px;
    text-align: center;
}