@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
body{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    overflow-x: hidden;
    background-color: #fcb9b9;
}
header{
    display: flex;
    padding: 0px 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.shopping{
    width: 300px;
    height: 630px;
    position: absolute;
    right: 0;
    overflow-y: scroll;
    top: 30px;
    transition: 0.2s ease-in-out;
    background-color: #eb9595;
    transform: translateX(100%);
    z-index: 222;
}
.head-left img{
    width: 130px;
    border-radius: 10px;
}
.head-left{
    display: flex;
    gap: 50px;
    align-items: center;
}
.head-nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 1.3rem;
}
.head-nav ul li{
    position: relative;
    width: max-content;
    cursor: pointer;    
}
.head-nav ul li::after{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #a72020;
    transition: 0.25s ease-in-out;
    transform: scaleX(0);
}
.head-nav ul li:hover::after{
    transform: scale(1);
}
.cart{
    position: relative;
    z-index: 1;
    width: 30px;
    cursor: pointer;
}
.carter{
    position: relative;
}
.cart-count{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(224, 25, 25);
    top: -3px;
    right: -7px;
    z-index: 111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-count span{
    font-size: 10px;
    color: #ffffff;
}
#close{
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    padding: 3px 5px;
}
#close div{
    transition: 0.3s ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#close div img{
    width: 30px;
}
#close div:hover{
    background-color: red;
}
#close div:active{
    background-color: rgb(252, 143, 143);
}
.shopping-cont{
    display: flex;
    flex-direction: column;
    gap:20px;
    height: 100%;
}
.shopping-cont h1{
    text-align: center;
    font-size: 1.5rem;
    width: max-content;
    align-self: center;
    position: relative;
}
.prod-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product{
    border-bottom: 1px solid #beb8b8;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding: 20px;
}
.product img{
    width: 90px;
    object-fit: cover;
}
#kkk{
    display: flex;
}
.product div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.product div button{
    padding: 3px 10px;
    border: none;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    color: #fff;
}
.total{
    align-self: flex-start;

    left: 45px;
}


main{
    min-width: 300px;
    max-width: 1500px;
    width: 90%;
    background-color: rgb(218, 82, 82);
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    gap: 30px;
}
.pc-card{
    width: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #e97878;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
}
.pc-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0px 10px;
}
.pc-card span{
    text-decoration: underline;
}

.pc-card div button{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #81e97b;
    transition: 0.3s;
}
.pc-card div button:hover{
    transform: scale(1.05);
}
.pc-card img{
    width: 150px;
    height: 150px;
    border-bottom: 1px solid rgb(138, 233, 143);
}