.ticket {
    background-color: rgb(212, 192, 134); 
    color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 70vh;
    height: 20vh;
    text-align: center;
}

a {
    color: rgb(248, 251, 253);
}

body {
    background-color: rgba(244, 245, 199, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
}